:root{
  --olive : #b1b493;
  --olive-dark : #8e8e6f;
}
.w100v{
  width:100vw;
}
.h100v{
  height:100vh;
} 
.m0{
  margin:0;
} 
.p0{
  padding:0;
} 
.df{
  display:flex;
} 
.jcc{
  justify-content:center;
} 
.aic{
  align-items:center;
}
.por{
  position: relative;
}
.poa{
  position: absolute;
}
.br5cold{
  border:5px solid var(--olive-dark)
}
.br50{
  border-radius: 50%;
}
.tr05e{
  transition : 1s ease;
}
.an3lo{
  animation : loading 3s infinite;
}
.op0{
  opacity:0;
}
.se{
  animation-delay : 1s;
}
.th{
  animation-delay: 2s;
}
.t50{
  top:50;
}
.l50{
  left:50%;
}
.attl50{
  transform:translate(-50%,-50%)
}
@keyframes loading{
  0%{width:0;height:0;opacity:0.5;}
  50%{width:2rem; height: 2rem; opacity:1;}
  100%{width:4rem; height:4rem;opacity:0.5;}
}