:root{
  --olive : #b1b493;
  --olive-dark : #8e8e6f;
  --white : #fff;
  --black : #111;
  --biege : #FBF7f1;
}
#root{
transition:10s ease;
}
body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
}
.Home{
  width:100vw;
  height: 100vh;
  background: url(bg-1.jpg) no-repeat center center;
  background-size: cover; 
  display:flex;
  flex-direction: column;
}
.m0{margin:0;}
.mt0{margin-top:0;}
.mt1{margin-top:1rem;}
.mt05{margin-top:0.5rem;}
.mtr5{margin-top:5rem;}
.mb0{margin-bottom:0;}
.mb05{margin-bottom:.5rem}
.mb1{margin-bottom:1rem;}
.ml05{margin-left:0.5rem;}
.ml4{margin-left:4rem;}
.ml25{margin-left:2.5rem;}
.ml2{margin-left:2rem;}
.p0502{padding:0.4rem 0.8rem;}
.p0{padding:0;}
p1{padding: 1rem;}
.pbr1{padding-bottom:.3rem;}
.b05{bottom:0.5rem;}
.t1{top:1rem;}
.b2{bottom:2rem;}
.w0{width:0%;}
.w60{width:60%;}
.w25{width:25%;}
.w18{width:18%;}
.w50{width:50%;}
.w90{width:90%;}
.w80{width:80%;}
.w40{width:40%;}
.w4p{width:4px;}
.wr1{width:1.2rem;}
.wr3{width:3rem;}
.wr20{width:20rem;}
.wr22{width:22rem;}
.w100{ width:100%;}
.h0{height:0%}
.h80{height:80%}
.h50{height:50%;}
.hin{height:inherit;}
.hr15{height:1.5rem;}
.hr10{height:13rem;}
.hr150{height:15rem}
.hr1{height:1.2rem;}
.hr3{height:3rem;}
.hr5{height:5rem;}
.hr20{height:20rem;}
.hr22{height:22rem;}
.f1{flex:1;}
.h100{height:100%;}
.pof{
  position:fixed;
}
.gp1{gap:1rem;}
.gp2{
  gap:2em;
}
.gp4{
  gap:12rem;
}
.gp6{
  gap:6rem;
}
.gp05{
  gap:0.2rem;
}
.fdc{
  flex-direction:column;
}
.flwrp{flex-wrap:wrap;}
.fdr{
  flex-direction: row;
}
.jic{justify-items:center;}
.jca{
  justify-content:space-around;
}
.jcb{
  justify-content:space-between;
}
.c0{transform:translate(-50%,-50%);}
.aie{
  align-items: flex-end;
}
.aifs{align-items:flex-start;}
.jcfs{
justify-content:flex-start;
}
.acfs{align-content:flex-start;}
.jcfe{
  justify-content:flex-end;
}
.cup{
  cursor:pointer;
}
.nscrl{overflow:hidden;	}
.trn05e{
  transition: .5s ease;
}
.trn15e{
 transition: 1.5s ease;
}
.highlighter{
  height:2px;
  width:0%;
  background: var(--olive);
  transition:.5s ease;
}
.col .highlighter,.gp05:hover .highlighter{
  width:100%;
}
header{z-index:1}
.bxsd {box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: var(--biege);}
.bgol{background:var(--olive);}
.bgbg{background:var(--biege)}
.btn-bgol{
 background : var(--olive);
 border : 2px solid var(--olive);
}
.btn-bgtr{
 background : transparent;
 border : 2px solid var(--olive);
}

.bgtr{
  border: .5em solid var(--olive)
}
.cwh{
 color:var(--white)
}
.cbl{color:var(--black)}
.hop8:hover{
 opacity:0.8;
}
.zi2{
z-index:2;
}
.panm{
text-wrap:nowrap;
overflow-x: hidden;
animation : panx 10s ease infinite;
}
.anmd5{
opacity:0;
animation-delay:5s !important;}
@keyframes panx{
0%{width:0%;opacity:.15;z-index:0;}
10%{width:90%; opacity:1;z-index:5;}
50%{width:90%;opacity:1;z-index:5;}
52%{width:0%;opacity:.15;z-index:0;}
100%{width:0%;opacity:.15;z-index:0;}
}
.imganm{
overflow:hidden;
animation : imgan 10s ease infinite;
}
@keyframes imgan{
0%{width:0rem;height:0rem;opacity:.15;}
10%{width:20rem;height:20rem; opacity:1;}
50%{width:20rem;height:20rem;opacity:1;}
52%{width:0rem;height:0rem;opacity:.15}
100%{width:0rem;height:0rem;opacity:.15}
}
.ringanm{
overflow:hidden;
animation : ringan 10s ease infinite;
}
@keyframes ringan{
0%{width:0rem;height:0rem;opacity:.15;}
10%{width:22rem;height:22rem; opacity:1;}
50%{width:22rem;height:22rem;opacity:1;}
52%{width:0rem;height:0rem;opacity:.15}
100%{width:0rem;height:0rem;opacity:.15}
}



.aspr11{
 aspect-ratio:1 / 1;
}
.aspr11:hover{
 opacity:.8;
}

textarea{outline:none;
border: 2px solid var(--black);
background:transparent;}

input{
outline:none;
border: 2px solid var(--black);
background:transparent;
padding:.35em .5em;
font-size: 1.2rem;
position:relative;
z-index:2;
}
label{
 top: .35em;
 left: .5em;
 font-size: 1.2rem;
 z-index:0;
transition : .3s ease;
}
input:not(:placeholder-shown) + label,
input:hover + label{
 z-index:3;
 background: #c0c6c6;
 top:-.5rem;
 font-size:.8em;
}
.bgt{background:transparent;}
.sub-btn{z-index:2}
.sub-btn:hover{
background:transparent;
color:var(--olive-dark);
border-color:var(--olive);
}
.col{
  color:var(--olive);
}
.cold{
  color:var(--olive-dark)
}
.btn-bgtr:hover{
  color:var(--white);
  background:var(--olive)
}
.ffpop{
font-family:"Poppins", Arial, sans-serif;
}
.ffsu{
 font-family: system-ui, sans-serif;
}
.brr5{
 border-radius:0.5rem;
}
.fs2{
 font-size:2rem;
}
.fs25{
 font-size:2.5rem;
}
.fs08{
 font-size:0.8rem;
}
.hnam:hover{
 color:var(--olive-dark)
}
.fstr{
 color : transparent;
 -webkit-text-stroke:2px var(--olive-dark)
}
.hnam:hover .fstr{
 color : var(--olive);
-webkit-text-stroke-color:var(--olive);
}
.fdul{text-decoration:underline;}
.fwb{
 font-weight:bold;
}
.fw900{
  font-weight:800;
}
.fw400{
  font-weight:500;
}
.txtdn{
  text-decoration:none;
  color:inherit;
}
.talc{
 text-align:center;
}
.lsn{
  list-style:none;
}
.grid {  display: grid;}
.grid-cols-2 {grid-template-columns: repeat(2, 1fr);}
.grid-rows-2 {grid-template-rows: repeat(2,1fr)}